#realtrailindexwrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 0px 0px 16px;
}

#openSideBar {
   cursor: pointer;
   position: relative;
   top: 4px;
   left: 0;
   height: 35px;
   width: 20px;
   border-radius: 0 6px 6px 0 ;
   background-color: hsla(0, 0%,100%, .8);
   box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.3);
  }
  
  #sidebar {
    height: 100%;
    width: 0;
    position: relative;
    background-color: white;
    overflow-y: auto; 
    max-height: 80vh; 
    transition: 0.3s;
    overflow-x: hidden;
    padding-top: 10px;
    color: white;
    display: block;
   cursor: pointer;
   border-radius: 0 6px 6px 0 ;
   background-color: hsla(0, 0%,100%, .8);
   box-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.3);
   
  }
  
  .sidebaropen
  #sidebar {
    width: 350px;
  }
  
  .open {
    display: block;
  }

  #sidebarHeader {
    padding: 10px;
    text-align: center;
    color: #142800;
    line-height: 24px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgb(233, 233, 233,0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    
  }
  #realTrailIndexHeader{
    width: 100%;
    height: 50px; 
    background-color: white;
    border: 2px solid rgb(233, 233, 233,0.1);
  }