#trailindexwrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 20px; */
    padding: 0px 0px 0px 16px;
}

#TrailIndexHeader{
    color: #142800;
    font: 28px Percent, Beatrice, Arial, sans-serif;
    margin: 0px 16px;
}

#showIndexBox{
    margin-left: 20px;
    border-radius: 20px;
    height: 246px;
    width: 300px; 
    border: 2px solid gray;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-end; 
}

#showIndexBox:hover{
    border: 2px solid black;
}

#showIndexBoxContent {
    margin-bottom: 16px; 
    margin-left: 16px; 
    line-height: 24px;
    color: #142800;
    font-size: 16px;
    font-weight: 700;
}
