#indexWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trailindexwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#TrailIndexHeader{
    color: #142800;
    font: 28px Percent, Beatrice, Arial, sans-serif;
    margin-right: 1000px;
    padding-top: 40px;
   
}

#showIndexBox {
    margin-top: 10px; /* Adjust as needed */
    margin-left: 14px;
    border-radius: 20px;
    height: 246px;
    width: 300px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#showIndexBox:hover{
    border: 2px solid black;
}

#showIndexBoxContent {
    margin-bottom: 16px; 
    margin-left: 16px; 
    line-height: 24px;
    color: #142800;
    font-size: 16px;
    font-weight: 700;
}

#homepageimag{
    max-width: 100%;
    height: auto;
}

#showIndexBoxLink{
    text-decoration: none;
}

#splashFooter{
    max-width: 100%;
    height: 300px;
    background-color: #142800;
}