.createReviewWrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.createReviewModal {
  position: absolute;
  z-index: 10;
  margin-top: -50px;
}

#createReviewButton {
  border: 1px solid black;
  background-color: #264311;
  position: relative;
  box-sizing: border-box;
  /* margin-left: 33vw; */
  width: 140px;
  height: 50px;
  border-radius: 70px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#createReviewButton:hover {
  background-color: #284e01;
}

#createReviewButtonContent {
  font-weight: 700;
  font-size: 16px;
  font-family: manrope-m;
  color: #fff;
  line-height: 24px;
}

@media (max-width: 600px) {
  #createReviewButton {
    width: 100px;
  }

  #createReviewButtonContent {
    font-size: 12px;
  }
}
