.editwrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
}

#editReviewWrapper,
#deleteReviewWrapper {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: manrope-m;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  margin-left: 20vw;
}


