.editwrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#editReviewWrapper,
#deleteReviewWrapper {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: manrope-m;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  margin-left: 20vw;
}

/* .editReviewWrapper{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100%;
} */
#editReviewModal{
  position: absolute;
  z-index: 10;
  margin-top: -50px;
}


