.searchBar{
    display: flex;
    align-items: center;
}
 #searchBarInput{
  position: absolute;
  margin-left: 2vw;
  margin-bottom: 70vh;
  height: 8vh;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 35vw;
  z-index: 3;
  outline: none;
  padding: 8px 12px;
  padding-left: 40px;
  font-size: 16px;
}


#searchBarButton{
  position: absolute;
  width: 5vw;
  margin-left: 35vw;
  margin-bottom: 70vh;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 3;
}



#WelcomestatmentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50vw;
}

#Welcomestatment{
  position: absolute;
  font-weight: 400;
  font-family: manrope-m;
  color:#fff;
  line-height: 78px;
  margin-bottom: 100vh;
  font-size: 60px;
  z-index: 3;
}


#mapLink{
  position: absolute;
  font-weight: 700;
  font-family: manrope-m;
  color:#fff;
  line-height: 30px;
  margin-bottom: 50vh;
  font-size: 20px;
  z-index: 3;
  text-decoration: underline;
  cursor: pointer;
}