.smallSearchBar {
  display: flex;
}

#smallSearchBarInput {
  position: relative;
  margin-left: 85%;
  padding: 20px;
  height: 2vh;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 10vw;
  outline: none;
}

#smallSearchBarButton {
  position: relative;
  margin-right: 0; 
  margin-top: 2vh;
  right: 25px;
  width: 2vh;
  color: white;
  border: none;
  cursor: pointer;
}

@media(max-width:600px){
  #smallSearchBarInput {
    margin-top: 1vh;
    margin-left: 65%;
    width: 20vw;
    height: 1vh;
    font-size: 2px;
  }
  #smallSearchBarButton {
    margin-top: 3vh;
  }
}