.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* padding-bottom: 20px;
    padding-top: 20px; */
   /* width: 100vw; */
}
#myLinksNav{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
#home{
    color: black;
    text-decoration: none;
    font-family: manrope-m;
    font-weight: bold;
    font-size: 29px;
    color: #142800;
}
.Login {
  margin-right: 20px;
  padding: 11px 15px;
  text-decoration: none;
  color: black;
  background-color:  rgb(237,237,236);
  border-radius: 25px; 
  font-family: manrope-m;
  font: Arial,sans-serif;
  font-size: 13px;
  font-weight:550;
}

.Login:hover{
    background-color: #d7d7d4;
}

#demoLogin{
    display: inline-block; 
    margin-right: 5px;
    padding: 11px 15px;
    text-decoration: none;
    color: black;
    background-color:  #64F67B;
    border-radius: 25px; 
    border: #64F67B;
    font-family: manrope-m;
    font: Arial,sans-serif;
    font-size: 13px;
    font-weight:550;
    cursor: pointer;
}

#demoLogin:hover {
    background-color: #4cae5c; 
  }

#homeicon{
  margin-left: 20px;
  height: 29px;
  color: #142800;
}


#InfoTab{
  margin-left: -65px;
  margin-bottom: -40px;
  padding: 11px 15px;
  font-weight: 400;
  font-size: 18px;
  font-family: manrope-m;
  color: #142800;
  line-height: 19.5px;
  text-decoration: underline;
  cursor: pointer;
}

#Github{
  margin-bottom: -10px;
  font-weight: 400;
  font-size: 18px;
  font-family: manrope-m;
  color: #142800;
  line-height: 19.5px;
  text-decoration: none;
  cursor: pointer;
}


#mainNav{
  width: 100vw;
}

@media(max-width:600px){
  #myLinksNav{
    gap: 5px;
  }
  .links{
    padding: 2px;
  
  }
  #homeicon{
    height: 15px;
    margin-left: 0;
  }
  #home{
    font-size: 15px;
  }

  #Github{
    font-size: 8px;
  }


#demoLogin{
  font-size: 8px;
  padding: 6px 3px;
  margin-right: 2px;
  
}

#InfoTab{
  font-size: 8px;
  margin-left: -35px;
  margin-bottom: -30px;
}

.Login{
  font-size: 8px;
  padding: 6px 3px;
}
}
