.profile-dropdown{
    background-color: white;
    box-sizing:content-box;             
    border: 1px solid rgb(0,0,0,0.05);
    width: 100px;
    height: 140px;
    z-index: 1000;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: left; 
    justify-content:flex-end; 
    margin-left: -75px;

    position: absolute 
}

/* .profile-dropdown:hover{
    background-color: gray;
    cursor: pointer;
} */

#logout-button{
    padding: 15px;
    position: relative;
    font-family: manrope-m;
    font: Arial,sans-serif;
}

#logout-button:hover{
    background-color: gray;
    cursor: pointer;
    border-radius: 15px;
}

#profile-button{
    padding: 15px;
    position: relative;
    font-family: manrope-m;
    font: Arial,sans-serif; 
}
#profile-button:hover{
    background-color: gray;
    cursor: pointer;
    border-radius: 15px;
}

#bird{
    height: 40px;
    border-radius: 50px;
}

#helpMe{
    font-weight: 400;
    padding: 11px 15px;
    font-size: 18px;
    font-family: manrope-m;
    color: #142800;
    line-height: 19.5px;
    text-decoration: underline;
    cursor: pointer;
}

#loginNav{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}